.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-success-300);
  border-width: 1px;
  flex-direction: column;
  background-color: #333232;
}
.home-container01 {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text {
  color: #ffffff;
  align-self: center;
  text-align: center;
}
.home-container02 {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text1 {
  color: #ffffff;
}
.home-textinput {
  margin-top: var(--dl-space-space-halfunit);
}
.home-container03 {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text2 {
  color: #ffffff;
}
.home-textinput1 {
  margin-top: var(--dl-space-space-halfunit);
}
.home-container04 {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text3 {
  color: #ffffff;
}
.home-textinput2 {
  margin-top: var(--dl-space-space-halfunit);
}
.home-container05 {
  width: 100%;
  height: 81px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text4 {
  color: #ffffff;
}
.home-select {
  margin-top: var(--dl-space-space-halfunit);
}
.home-container06 {
  width: 100%;
  height: 81px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text5 {
  color: #ffffff;
}
.home-select1 {
  width: 273px;
  height: 33px;
  margin-top: var(--dl-space-space-halfunit);
}
.home-container07 {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text6 {
  color: #92ef9f;
  width: 477px;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image {
  width: 476px;
  height: 256px;
  object-fit: cover;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button1 {
  width: 188px;
  height: 40px;
  text-align: center;
}
